* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/06/07/09/coffee-2589759_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(84, 71, 63, 0.9); /* Transparent overlay */
    background-blend-mode: overlay; 
    margin: 0;
    min-height: 100vh;
}
        .navbar {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    
        .navbar-scroll {
            color: aliceblue;
        }
        main {
            flex: 1;
        }
        .landing-page {
            margin-top: 8rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    
        h1,
        h2,
        p {
    color: rgb(233, 238, 217);
    font-family: 'Raleway', sans-serif;
    padding-bottom: 2rem;
}
h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 1;
}
h2 {
    font-weight: 600;
    font-size: 30px;
}
p {
    font-weight: lighter;
    line-height: 1.5;
}
button {
    background-color: rgb(233, 238, 217);
    color: rgb(84, 71, 63);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
}
footer {
    text-align: center;
    padding-top: 3rem;
    margin-top: 30px;
    background-color: rgb(84, 71, 63, 0.8); /* Charcoal */
    color: rgb(233, 238, 217);
  }